*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
/* css for header ------------------------------------------------------------------------------------ */
header{
    background-color: transparent;
    /* background-color: #212121; */
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    align-items: center;
    position: fixed;
    z-index: 333;
    top: 0;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    transition: 0.5s;
}
header i{
    color: white;
}
header button{
    border-radius: 3px;
    border: none;
    font-size: 20px;
    background-color: #a7856a;
    cursor: pointer;
    margin-left: 30px;
    padding: 7px 15px;
    transition: 0.5s;
}
header button a{
    font-weight: 100;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
header button:hover {
    background-color: #5d4a3a;
}
.header-menu>ul{
    list-style: none;
    display: flex;
}
.header-menu>ul>li{
    margin: 0 15px;
}
.header-menu>ul>li:hover{
    color: #a7856a;
}
.header-menu>ul>li:hover>a , .header-menu>ul>li:hover>i{
    color: #a7856a;
}
.header-menu>ul>li>i{
    transition: 0.5s;
}
/* .header-menu ul li:hover i{
    color: #a7856a;
} */
.header-menu>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}
/* .header-menu a:hover{
    color: #a7856a;
} */
.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right .usd{
    margin: 0 20px;
}
.header-right .usd a{
    text-decoration: none;
    color: white;
}
.header-left img{
    cursor: pointer;
}
.header-icons{
    margin-left: 10px;
    cursor: pointer;
}
/* css for zir menu ------------------------------------------------------------------------------------ */
.zir-menu{
    background-color: #212121;
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
    position: fixed;
    top: 90px;
    line-height: 20px;
}
.zir-menu a {
    text-decoration: none;
    color: aliceblue;
    transition: 0.5s;
}
.zir-menu li{
    margin: 10px;
    color: wheat;
    font-size: 22px;

}
.zir-menu li a{
    font-size: 17px;
}
.zir-menu li:hover a{
    color: #a7856a;
}
.zirmenu-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.pages{
    display: inline-flex;
    
}
.pages-gp1 , .pages-gp2{
    margin-right: 60px;
}
.pages{
    right: 430px;
    display: none;
}
.tours{
    left: 837px;
    display: none;
}
.rooms{
    left: 655px;
    display: none;
}
.home{
    left: 560px;
    display: none;
}
.item-home , .item-tour , .item-page , .item-room , .item-gallery{
    line-height: 90px;
}
.item-home:hover .home{
    display: block;
}
.item-tour:hover .tours{
    display: block;
}
.item-page:hover .pages{
    display: inline-flex;
}
.item-room:hover .rooms{
    display: block;
}
/* for right menu ===================================================================== */
.menu-right{
    color: white;
    height: 100vh;
    background-color: #212121;
    padding: 0 35px ;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    transition: 1s;
    transform: translateX(400px);
}
.menu-right>i{
    color: grey;
    transition: 0.5s;
    cursor: pointer;
    font-size: 25px;
}
.menu-right>i:hover{
    color: white;

}

.menu-right-part1 div{
    color: rgb(162, 162, 162);
    margin-bottom: 7px;
}
.menu-right-part1 div i{
    margin-right: 10px;
}
.menu-right-part2 a{
    transition: 0.5s;
    margin-bottom: 10px;
    display: inline-block;
}
.menu-right-part2 a:hover{
    color: #a7856a;
}
.menu-right-part3 i{
    cursor: pointer;
    transition: 0.5s;
    margin-right: 5px;
    font-size: 22px;
}
.menu-right-part3 i:hover{
    color: #a7856a;
}
.modal-black{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.758);
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
/* css for part1 ==================================== */
.part1{
    background: url(images/Untitled-1.jpg);
    background-size: cover;
    height: 490.112px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 90px; */
}
.part1-texts{
    color: white;
    text-align: center;
}
.part1-texts h1{
    font-size: 40px;
    margin-bottom: 35px;
}
.part1-texts p{
    font-size: 25px;
    line-height: 40px;
}
/* css for part2 ==================================== */
.part2{
    padding: 80px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.part2-boxes{
    /* margin: auto;
    padding: auto; */
    /* background-color: rgb(215, 250, 221); */
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}
.part2-boxes .box{
    width: 430.663px;
    height: 511.5px;
    position: relative;
    margin: 10px;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.399);
    background-blend-mode: multiply;
    transition: 0.5s;
}
.box1{
    background: url(images/box1.jpg);
}
.box2{
    background: url(images/box2.jpg);
}
.box3{
    background: url(images/box3.jpg);
}
.box4{
    background: url(images/box4.jpg);
}
.box5{
    background: url(images/box5.jpg);
}
.part2-boxes .box img{
    margin: 10px;
}
.up-box2 , .down-box2{
    display: flex;
    flex-wrap: wrap;
}
.description{
    color: white;
    box-sizing: border-box;
    padding:30px 20px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    /* height: 208px; */
    height: 85px;
    overflow: hidden;
    transition: 0.5s;
    /* bottom: -130px;
    left: 10px;
    right: 10px; */
}
.description h3{
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 25px;
}
.description p{
    color: rgb(196, 196, 196);
}
.end-desc{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
/* .end-desc h3{

} */
.end-desc .btn-left{
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px 15px 10px 0;
    font-size: 18px;
}
.end-desc .btn-left:hover{
    color: #a7856a;
}
.end-desc .btn-right{
    background-color: #a7856a;
    transition: 0.5s;
    cursor: pointer;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
}
.end-desc .btn-right:hover{
    background-color: #5d4a3a;
}